* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width:100%;
}

/* .App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .5rem;;
  color: white;
  width:100%;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#notesEnabled{
  background:yellow;
}
.field {
  width:2.3rem;
  font-size:1.7rem;
  position:relative;
  padding:0;
  text-align:center;
  color:#888;
  background:white;
  border:1px solid black;
  margin:0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.row{
  height:2.3rem;
  display:flex;
  flex-direction: row;
}
.field:focus{
  background:rgb(116, 218, 243);
  outline: none;
}

.field[readonly] {
  color:#222
}

.field:nth-child(3){
  border-right:3px solid black
}

.field:nth-child(6){
  border-right:3px solid black
}


.row:nth-child(3) .field{
  border-bottom:3px solid black;
  margin:auto;

}

.row:nth-child(6)  .field{
  border-bottom:4px solid black;
  margin:auto;
}

.toolBar{
  display:flex;
  list-style-type: none;
  flex-direction: row;
  justify-content:flex-end;
  padding:0;
  margin:auto;
  margin-top:16px;
  margin-bottom:16px;
}

.diffAndTime{
  width: 90%;
  max-width:20rem;
  margin:0 auto;
}

.timeAndDiff, .notesButton{
  display: flex;
  justify-content: space-between;
}

.container{
  width:100%;
  margin:0 auto;
  display:flex;
  flex-direction: column;
}
.board{
  height:20.6rem;
  margin:auto;
}

.numbersContainer {
  display:flex;
  justify-self: end;
  margin:.5rem;
  border-radius: 5px;
  max-width:20rem;
  margin:auto;
  padding:0;
}

.numbers{
  padding:0;
}