* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width:100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width:100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.field {
  width:9%;
  height:2.2rem;
  font-size:1.7rem;
  text-align:center;
  color:#888;
  border:1px solid black
}

.field:focus{
  background:rgb(116, 218, 243);
}

.field[readonly] {
  color:#222
}

.field:nth-child(3){
  border-right:3px solid black
}

.field:nth-child(6){
  border-right:3px solid black
}


.row:nth-child(3) .field{
  border-bottom:3px solid black;
  margin:auto;

}

.row:nth-child(6)  .field{
  border-bottom:3px solid black;
  margin:auto;
}

.toolBar{
  display:flex;
  list-style-type: none;
  text-align:center;
  flex-direction: row;
  margin-left:auto;
  margin-right:auto;
  padding:0;
}

.diffAndTime{
  width: 90%;
  max-width: 400px;
  margin:0 auto;
}

.timeAndDiff, .notesButton{
  display: flex;
  justify-content: space-between;
}

.container{
  width:100%;
  margin:0 auto;
  display:flex;
  flex-direction: column;
}
.board{
  max-width:30rem;
  margin:auto;
}

.numbersContainer {
  display:flex;
  justify-self: end;
  margin:.5rem;
  border-radius: 5px;
  max-width:25rem;
  margin:auto;
}